/* .philosophy-body {
    background-image: url(https://cdn2.newsok.biz/cache/w620-e2aeb404d0fce4ff0e6d53ee08b6099e.jpg);
} */

.gary__philosophy {
    color: whitesmoke;
    text-align: center;    
}

.gary__philosophy1 {
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: lavender;
}

.gary__philosophy2 {
    color: rgb(219, 229, 250);
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-style: wavy;
    font-size: x-large;
}

.gary__philosophy3 {
    color: rgb(216, 231, 253);
    text-align: left;
    font-family: fantasy;
    text-shadow: turquoise;
    font-size: larger;
}

.philosophy-body { 
    background: url(https://cdn2.newsok.biz/cache/w620-e2aeb404d0fce4ff0e6d53ee08b6099e.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gary__philosophy__pics5 {
    max-width: 60px;
    max-height: 40px;
}