.philosophy-body { 
    background: url(https://cdn2.newsok.biz/cache/w620-e2aeb404d0fce4ff0e6d53ee08b6099e.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 0;
    }
}

.gary__philosophy {
    color: whitesmoke;
    text-align: center;
    text-shadow: turquoise;
    animation: animate 2s linear infinite;    
}

.gary__philosophy1 {
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: lavender;
    animation: animate 1s linear infinite;  
}

.gary__philosophy2 {
    color: rgb(219, 229, 250);
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-style: wavy;
    text-shadow: turquoise;
    font-size: x-large;
    animation: animate 4s linear infinite;  
}

.gary__philosophy3 {
    color: rgb(216, 231, 253);
    text-align: left;
    font-family: fantasy;
    text-shadow: turquoise;
    font-size: larger;
    animation: animate 3s linear infinite;  
}

.gary__philosophy4 {
    color: whitesmoke;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: lavender;
}

.gary__philosophy5 {
    color: rgb(219, 229, 250);
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-style: wavy;
    font-size: x-large;
    animation: animate 5s linear infinite;  
}